---
layout: compress
---
<!DOCTYPE html>
{% include ie.html %}
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
              <a href="{{ site.url }}">
                  <img src="{{ site.logo }}" class="img-circle zoombtn animated">
              </a>
              <hr class="hr-line">
              <h3 class="title">
                <a class="img-circle" target="_blank"><i class="fa fa-fw fa-hand-spock-o"></i></a>
                <a style="font-size:1rem;font-weight:300">{{ site.bio }}</a>

              </h3>
              <hr class="hr-line">
              <h3 class="title">
                 <a class="btn zoombtn" href="{{ site.url }}/posts"><i class="fa fa-fw fa-file-text"></i></a>
                 <a class="btn zoombtn" href="mailto:{{ site.email }}" target="_blank"><i class="fa fa-fw fa-envelope"></i></a>
              </h3>
              <h3 class="title">
                <img src="{{ site.gif }}" class="img-circle">
              </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
